error_log
/dev/
/email/
html-pages/
/configuration.php
LICENSE.txt
README.txt
web.config.txt
htaccess.txt
tmp/*
cache/*
logs/*
sitemap.xml
sitemap_images.xml
/administrator/components/com_sh404sef/logs/*
/components/com_sh404sef/cache/*
