.wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.clear {
	clear: both;
}
#logo {
	background:url(../images/h_logo.png) no-repeat 0 0 scroll transparent;
	height: 92px;
	width: 289px;
	display: block;
	position: absolute;
	top:16px;
	left: 3px;
	text-indent: -9999px;
}
#header {
	background:url(../images/bg_header.png) repeat-x 0 0 scroll #422f25;
	height: 164px;
	font-family: Times, serif;
}
#header ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
#header ul#nav {
    position: absolute;
    top: 120px;
}
#header ul#nav li {
	float: left;	
}
#header ul#nav li a {
	font-size: 15px;
	color: #fff;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;	
}
#header ul#nav li:last-child a {
	padding-right: 0;
}
#bbb {
	background:url(../images/bbb_logo.png) no-repeat 0 0 scroll transparent;
	height: 53px;
	width: 155px;
	position: absolute;
	right: 0;
	top:16px;
}
#tagline {
    color: #9C8679;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    right: 180px;
    text-align: right;
    top: 32px;
}
#subhead {
	font-family: Times, serif;
}
#image-banner {
	background:url(../images/bg_subhead.png) repeat 0 0 scroll #FFF;
	padding: 5px 0;
}
#image-banner .wrap {
	background:url(../images/banners/cabana.jpg) no-repeat center top scroll transparent;
	height: 431px;
	margin: 0 auto;
	width: 1200px;
}
#banner-tagline {
	width: 712px;
	position: absolute;
	top:152px;
	height: 132px;
	right: 0;
	background:url(../images/tagline_gradient.png) repeat-y right top scroll transparent;
	text-align: right;
	padding-right: 145px;
	color: #fff;
}
#banner-tagline h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    margin: 17px 22px 2px 0;
}
#banner-tagline span {
	font-size: 28px;
	font-style: italic;
}
#green-banner {
	background:url(../images/bg_green2.png) repeat 0 0 scroll #FFF;
}

#green-banner .wrap {
	background:url(../images/green-home-bg.png) no-repeat center top scroll transparent;
	height: 121px;
	width: 1200px;
}
#green-banner .wrap h2 {
	background:url(../images/free-shipping.png) no-repeat 150px 50% scroll transparent;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 44px 0 0 276px;
    text-align: center;
    width: 762px;
    height: 77px;
}
#green-banner .wrap h2 span {
	font-size: 31px;
	text-transform: uppercase;
	color: #acbd98;
}

#main {
	background:url(../images/bg_content.png) repeat 0 0 scroll #FFF;
}
#content {
	padding: 20px 0;
}

#footer {
	background:url(../images/bg_footer.jpg) repeat 0 0 scroll #38271E;
	height: 531px;
}
.home_products {
	margin-bottom: 20px;
}
.home_products ul {
	font-family: Times, serif;
	list-style:none outside none;
	margin: 0;
	padding: 0;
	color: #3c2313;
}
.home_products ul.items_list > li {
    background: url(../images/home_product_bg.png) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.45);
    border-top: 2px solid rgba(0, 0, 0, 0.13);
    float: left;
    height: 574px;
    padding: 8px;
    width: 221px;
}
.home_products ul.items_list > li:first-child {
	border-left:2px solid rgba(0,0,0,0.13);
}
.type .icon {
    padding: 9px 0 0 77px;
}
.type h3 {
    color: #3C2313;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 3px;
    text-align: center;
}
.type h4 {
    background: url(../images/product-hr.png) no-repeat scroll center bottom transparent;
    color: #355a06;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 14px;
    padding-bottom: 17px;
    text-align: center;
}
.type .description {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0 8px;
}
.type .links {
	margin: 30px 0 0 0;
	font-family: Times, serif;
	list-style-image: url(../images/list-arrow.png);
	padding: 0 0 0 24px;
}
.type .links li {
	margin-bottom: 5px;
}
.type .links li a {
	color: #3c2313;
	font-size: 15px;
	text-decoration: none;
}
.pagination p {
	margin: 0;
	padding: 10px 0;
	display: none;
}
.spot-market {
	float: left;
	width: 299px;
	height: 215px;
}
.spot-market:nth-child(2) {
	margin: 0 30px;
}
.spot-market.thanksgiving {
	background: url(../images/spot-thanksgiving.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market.preseason {
	background: url(../images/spot-season.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market.featured {
	background: url(../images/spot-featured.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market .brown-button {
	display: block;
    margin: 162px auto 0;
    width: 175px;
	padding: 8px 0px;
}
.brown-button {
	background: #2a1c15;
	background: -moz-linear-gradient(top,  #2a1c15 0%, #37251c 27%, #38251c 45%, #271914 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a1c15), color-stop(27%,#37251c), color-stop(45%,#38251c), color-stop(100%,#271914));
	background: -webkit-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: -o-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: -ms-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: linear-gradient(to bottom,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1c15', endColorstr='#271914',GradientType=0 );
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	font-family: Times, serif;
	font-weight: normal;
	text-decoration: none;
}
#footer {
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer-quote {
    background: none repeat scroll 0 0 #35251C;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5) inset;
    height: 38px;
    padding: 25px 20px;
}
#footer-quote h4 {
	color: #b2998b;
	font-family: Times, serif;
	display: inline;
	font-size: 35px;
	font-weight: normal;
	margin: 0 15px 0 0;
}
#footer-quote p {
	display: inline;
	font-size: 14px;
}
.green-button {
	background: #284405;
	background: -moz-linear-gradient(top,  #284405 0%, #345806 24%, #355a06 42%, #2f5005 67%, #233c04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284405), color-stop(24%,#345806), color-stop(42%,#355a06), color-stop(67%,#2f5005), color-stop(100%,#233c04));
	background: -webkit-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: -o-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: -ms-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: linear-gradient(to bottom,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284405', endColorstr='#233c04',GradientType=0 );
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	font-family: Times, serif;
	font-weight: normal;
	text-decoration: none;
}
.green-button:hover {
	background: #345806;
}
#footer-quote .green-button {
	float: right;
}
#footer .module {
	width: 215px;
	margin-right:25px;
	float: left;
	font-size: 13px;
}
#footer .module h6 {
	margin: 0 0 10px 0;
	font-size: 15px;
}
#footer-widgets {
	margin-top:55px;
}







