.wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
#logo {
	background:url(../images/h_logo.png) no-repeat 0 0 scroll transparent;
	height: 92px;
	width: 289px;
	display: block;
	position: absolute;
	top:16px;
	left: 3px;
	text-indent: -9999px;
}
#header {
	background:url(../images/bg_header.png) repeat-x 0 0 scroll #422f25;
	height: 164px;
	font-family: Times, serif;
}
#header ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
#header ul#nav {
    position: absolute;
    top: 120px;
}
#header ul#nav li {
	float: left;	
}
#header ul#nav li a {
	font-size: 15px;
	color: #fff;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;	
}
#header ul#nav li:last-child a {
	padding-right: 0;
}
#bbb {
	background:url(../images/bbb_logo.png) no-repeat 0 0 scroll transparent;
	height: 53px;
	width: 155px;
	position: absolute;
	right: 0;
	top:16px;
}
#tagline {
    color: #9C8679;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    right: 180px;
    text-align: right;
    top: 32px;
}
#subhead {
	font-family: Times, serif;
}
#image-banner {
	background:url(../images/bg_subhead.png) repeat 0 0 scroll #FFF;
	padding: 5px 0;
}
#image-banner .banner-wrap {
	margin: 0 auto;
}
body.home #image-banner .banner-wrap {
	background:url(../images/banners/cabana.jpg) no-repeat center top scroll transparent;
	height: 431px;
	min-width: 960px;
}
#banner-tagline {
	width: 712px;
	position: absolute;
	height: 132px;
	right: -120px;
	background:url(../images/tagline_gradient.png) repeat-y right top scroll transparent;
	text-align: right;
	padding-right: 145px;
	color: #fff;
}
body.home #banner-tagline {
	top:152px;
}
body.gazebos #banner-tagline {
	top:27px;
}
body.gazebos #image-banner .banner-wrap {
	background:url(../images/banners/gazebo.jpg) no-repeat center top scroll transparent;
	height: 184px;
}

#banner-tagline h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    margin: 17px 22px 2px 0;
}
#banner-tagline span {
	font-size: 28px;
	font-style: italic;
}
.home #green-banner {
	background:url(../images/bg_green2.png) repeat 0 0 scroll #365117;
}
#green-banner {
	background:url(../images/bg_green_interior.png) repeat 0 0 scroll #365117;
}
.home #green-banner .subhead-wrap {
	background:url(../images/green-home-bg.png) no-repeat center top scroll transparent;
	height: 121px;
}
.home #green-banner .wrap h2 {
	background:url(../images/free-shipping.png) no-repeat 30px 50% scroll transparent;
    color: #FFFFFF;
    padding: 44px 0 0 195px;
    text-align: center;
    width: 762px;
    height: 77px;
    font-style: normal;
    text-shadow: none;
}
.home #green-banner .wrap h2 span {
	font-size: 31px;
	text-transform: uppercase;
	color: #acbd98;
}
#green-banner .subhead-wrap {
	background:url(../images/green-interior-bg.png) no-repeat center top scroll transparent;
	height: 85px;
}
#green-banner .wrap h2 {
    color: #BEC7AC;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 25px 0 0 140px;
    text-shadow: 1px 1px 0 #000000;
}
#green-banner .wrap h2 span {
	color: #fff;
}
#main {
	background:url(../images/bg_content.png) repeat 0 0 scroll #FFF;
}
#content {
	padding: 20px 0;
}

#footer {
	background:url(../images/bg_footer.jpg) repeat 0 0 scroll #38271E;
	height: 531px;
}
.home_products {
	margin-bottom: 20px;
}
.home_products ul {
	font-family: Times, serif;
	list-style:none outside none;
	margin: 0;
	padding: 0;
	color: #3c2313;
}
.home_products ul.items_list > li {
    background: url(../images/home_product_bg.png) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.45);
    border-top: 2px solid rgba(0, 0, 0, 0.13);
    float: left;
    height: 574px;
    padding: 8px;
    width: 221px;
}
.home_products ul.items_list > li:first-child {
	border-left:2px solid rgba(0,0,0,0.13);
}
.type .icon {
    padding: 9px 0 0 77px;
}
.type h3 {
    color: #3C2313;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 3px;
    text-align: center;
}
.type h4 {
    background: url(../images/product-hr.png) no-repeat scroll center bottom transparent;
    color: #355a06;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 14px;
    padding-bottom: 17px;
    text-align: center;
}
.type .description {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0 8px;
}
.type .links {
	margin: 30px 0 0 0;
	font-family: Times, serif;
	list-style: none outside none;
	padding: 0 0 0 10px;
}
.type .links li {
	margin-bottom: 5px;
	background: url(../images/sprite-list-arrow.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.type .links li a {
	color: #3c2313;
	font-size: 15px;
	text-decoration: none;
}
.pagination p {
	margin: 0;
	padding: 10px 0;
	display: none;
}
.spot-market {
	float: left;
	width: 299px;
	height: 215px;
}
.spot-market:nth-child(2) {
	margin: 0 30px;
}
.spot-market.thanksgiving {
	background: url(../images/spot-thanksgiving.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market.preseason {
	background: url(../images/spot-season.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market.featured {
	background: url(../images/spot-featured.jpg) no-repeat scroll 0 0 transparent;
}
.spot-market .brown-button {
	display: block;
    margin: 162px auto 0;
    width: 175px;
	padding: 8px 0px;
}
.brown-button {
	background: #2a1c15;
	background: -moz-linear-gradient(top,  #2a1c15 0%, #37251c 27%, #38251c 45%, #271914 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a1c15), color-stop(27%,#37251c), color-stop(45%,#38251c), color-stop(100%,#271914));
	background: -webkit-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: -o-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: -ms-linear-gradient(top,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	background: linear-gradient(to bottom,  #2a1c15 0%,#37251c 27%,#38251c 45%,#271914 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1c15', endColorstr='#271914',GradientType=0 );
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	font-family: Times, serif;
	font-weight: normal;
	text-decoration: none;
}
#footer {
	color: #fff;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer-quote {
    background: none repeat scroll 0 0 #35251C;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5) inset;
    height: 38px;
    padding: 25px 20px;
}
#footer-quote h4 {
	color: #b2998b;
	font-family: Times, serif;
	display: inline;
	font-size: 35px;
	font-weight: normal;
	margin: 0 15px 0 0;
}
#footer-quote p {
	display: inline;
	font-size: 14px;
}
.green-button {
	background: #284405;
	background: -moz-linear-gradient(top,  #284405 0%, #345806 24%, #355a06 42%, #2f5005 67%, #233c04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284405), color-stop(24%,#345806), color-stop(42%,#355a06), color-stop(67%,#2f5005), color-stop(100%,#233c04));
	background: -webkit-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: -o-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: -ms-linear-gradient(top,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	background: linear-gradient(to bottom,  #284405 0%,#345806 24%,#355a06 42%,#2f5005 67%,#233c04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284405', endColorstr='#233c04',GradientType=0 );
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	font-family: Times, serif;
	font-weight: normal;
	text-decoration: none;
}
.green-button:hover {
	background: #345806;
}
#footer-quote .green-button {
	float: right;
}
#footer .module {
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-right: 25px;
    width: 215px;
}
#footer .module h5 {
	background: url(../images/sprite-list-arrow.png) no-repeat scroll 0 0 transparent;
	margin: 0 0 20px 0;
	font-size: 15px;
	text-indent: 15px;
}
#footer .module p {
	margin: 0 0 15px 0;
}
#footer-widgets {
	margin-top:55px;
	height: 320px;
}
#footer .module h6 {
	color: #9c8679;
	font-style: italic;
	font-size: 13px;
	margin: 0;
}
#footer .module .custom.news p {
	margin-bottom: 20px;
}
#footer .module .custom.footer-links h5 {
	margin-bottom: 15px;
}
#footer-bottom span {
	margin: 0 1em;
}
#footer-bottom p {
	color: #9c8679;
    font-size: 14px;
    margin: 20px 0;
}
#footer-bottom p.right {
	font-size: 12px;
}
a.social {
	background: url(../images/sprite-social.png) no-repeat scroll 0 -28px transparent;
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	text-indent: -9999px;
}
a.twitter:hover {
	background-position: 0 0;
}
a.fb {
	background-position: -41px -28px;
}
a.fb:hover {
	background-position: -41px 0;
}
a.youtube {
	background-position: -81px -28px;
}
a.youtube:hover {
	background-position: -81px 0;
}
a.flickr {
	background-position: -121px -28px;
}
a.flickr:hover {
	background-position: -121px 0;
}
#footerlogo {
	background: url(../images/f_logo.png) no-repeat scroll 0 0 transparent;
	width: 190px;
	height: 63px;
	text-indent: -9999px;
	display: block;
	margin-bottom: 20px;
}
#address {
	color: #9c8679;
	font-size: 12px;
}
#phone {
	font-size: 24px;
	margin-top:10px !important;
	text-transform: uppercase;
}
#sidebar {
	width: 240px;
	float: left;
	margin-right: 25px;
}
#content {
	font-family: Times, serif;
	width: 695px;
	float: left;
}
.product #content,
.home #content {
	width: 960px;
}
#sidebar .sidebar-market-gazebos {
	background: url(../images/sidebar-market.png) no-repeat scroll 0 0 transparent;
	box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.75), 2px 2px 2px rgba(0, 0, 0, 0.13) inset;
	height: 158px;
	width: 240px;
	margin-bottom: 20px;
}
#sidebar > .search-filter {
	background: url(../images/bg_sidebar.png) no-repeat scroll 0 bottom transparent;
	box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.75), 2px 2px 2px rgba(0, 0, 0, 0.13) inset;
	padding: 20px;
	margin: 20px 0 20px 0;
}
#sidebar > .search-filter h4 {
	background: url(../images/bg_filter_heading.png) no-repeat scroll 0 bottom transparent;
	font-family: Times, serif;
	font-size: 30px;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	text-align: center;
	font-weight: normal;
}
#sidebar > .search-filter h5 {
    color: #355A06;
    font-size: 18px;
    font-style: italic;
    margin: 0;
}
#sidebar > .search-filter ul.filter-menu {
	list-style: none outside none;
	margin: 15px 0;
	padding: 0;
}
#sidebar > .search-filter ul.filter-menu li {
    font-size: 15px;
    line-height: 25px;
    text-indent: 5px;
}
.checkbox, .radio {
	background: url(../images/checkbox-sprite.png) no-repeat scroll 0 0 transparent;
    clear: left;
    display: block;
    float: left;
    height: 25px;
    padding: 0 5px 0 0;
    width: 19px;
}

/*** ***/
#content h2 {
	color: #355a06;
	font-weight: normal;
	font-size: 29px;
}
body.home .pagination {
	display: none;
}
.pagination {
	background: url(../images/bg_pagination2.png) repeat-x scroll 0 0 transparent;
	font-size: 15px;
    height: 17px;
    padding: 13px 0;
}
.search-term {
	font-style: italic;
	margin-right: 10px;
}
.search-item {
	color: #968479;
	font-weight: bold;
	text-transform: uppercase;
}
.pagination .checkbox {
    display: inline;
    float: none;
    height: 25px;
    margin: 0 10px 0 5px;
    padding: 0 10px 5px;
    position: relative;
    top: -4px;
}
.product_listing {
	margin: 20px 0;
	padding: 0;
	list-style: none outside none;
}
.product_listing li {
	float: left;
	width: 220px;
	height: 253px;
	margin: 0 15px 25px 0;
}
.product_listing li:nth-child(3n+3) {
	margin-right: 0;
}
.product_listing li img {
	background: url(../images/bg_darkpattern.png) repeat scroll 0 0 transparent;
	padding: 10px;
	box-shadow: 1px 1px 0 #fff;
}
.product_listing li h5 {
	font-size: 15px;
	margin: 10px 0;
	font-weight: normal;
	text-align: center;
}
.product_listing li .price {
	color: #365117;
	font-weight: bold;
	font-style: italic;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;
	display: block;
	text-transform: uppercase;
}
/*** Individual Product View ***/
.panel h2 {
	margin:0 0 15px 0;
}
#panels {
	background: url(../images/bg_gradient.png) repeat scroll right bottom transparent;
	width: 200px;
	float: left;
	min-height: 750px;
	box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.75), 2px 2px 2px rgba(0, 0, 0, 0.13) inset;
	padding: 20px;
}
#panels hr {
	border: medium none;
	background: url(../images/product-hr.png) no-repeat scroll center bottom transparent;
	height: 9px;
	margin: 15px 0;
}
#panels h5 {
	color: #a19086;
	text-transform: uppercase;
	margin: 0;
	font-family: sans-serif;
	font-style: italic;
	font-size: 15px;
	font-weight: normal;
}
#panels .price-range {
	font-family: sans-serif;
	color: #344e16;
	font-size: 26px;
	font-weight: normal;
}
.panel {
	background: url(../images/bg_gradient.png) repeat scroll right bottom transparent;
	float: right;
	width: 670px;
	min-height: 770px;
	padding: 10px 25px;
	box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.75), 0 2px 2px rgba(0, 0, 0, 0.13) inset;
}
.panel input[type="checkbox"] {
	display: none;
}
#tabs {
	margin: 0 0 0 -20px;
	padding: 0;
	list-style: none outside none;
}
#tabs li {
	width: 257px;
	height: 36px;
}
#tabs li a {
	background: url(../images/sprite-list-arrow.png) no-repeat scroll 20px 12px transparent;
    color: #3C2313;
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    text-indent: 41px;
}

#tabs li:hover {
	background: url(../images/bg_green-tab.png) no-repeat scroll 0 0 transparent;
}
#tabs li a:hover {
	color: #fff;
	background-position: 20px -24px;
}